@{
    for (int i = 0; i < Exam.Questions.Count; i++)
    {
        var question = Exam.Questions[i];
        var index = i; // Capture loop variable safely
        <div class="m-3 container">
            <QuestionView
                @key = "index"
                SelectedChoice="GetSelectedChoice(index)"
                Question="question"
                QuestionNumber="index" />
        </div>
    }
}
@code {

    [CascadingParameter]
    public ExamService ExamState { get; set; } = null!;

    private Exam Exam => ExamState.Exam;
    #region Corrected
    public Submission Submission => ExamState.Submission;
    private byte? GetSelectedChoice(int questionIndex)
    {
        if(ExamState.Mode == ExamMode.Corrected && Submission is not null)
        {
            return ExamState.Submission.Choices[questionIndex];
        }
        return null;
    }
    #endregion


}
