@page "/"
@inherits HttpClientErrorHandler

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h4">
    Select Exam:
</MudText>
@if(Exams is null)
{
    <p>Loading</p>
}
else
{
    @foreach (var item in Exams)
    {
        <MudNavLink
            Class="rounded ma-3"
                    Href="@($"submissions/{item.id}")">
            @item.Name
        </MudNavLink>
    }
}

@code{

    [Inject]
    public ExamsClient? _client { get; set; }

    public List<Exam>? Exams { get; set; } = null;

    protected override async Task OnInitializedAsync() 
    {
        Exams = new();
        await foreach (Exam? Exam in _client?.GetExamsAsync()!)
        {
            if(Exam is not null)
                Exams.Add(Exam);
        }
    }
}
