@using System.Collections.ObjectModel
@using System.Collections.Specialized

<div>
    @if (_errors.Count() == 0) //no errors
    {
        @ChildContent
    }
    else
    {
        <ul class="errors">
            @foreach (string error in _errors)
            {
                <li key="@error" class="error">@error</li>
            }
        </ul>
    }
</div>

@code {
    [Inject]
    private HttpClientErrorDelegationHandler _handler { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    private List<string> _errors { get; set; } = new();


    protected override void OnInitialized()
    {
        _handler.ErrorsChanged += OnErrorsChanged;
        base.OnInitialized();
    }

    private void OnErrorsChanged(string errorMessage)
    {
        _errors.Add(errorMessage);
    }


}
