.question-text
{
    font-size : 1.5rem;
}
.question-choice
{
    font-size : 1.2rem;
}

.auto-dir {
    unicode-bidi: plaintext;
    text-align:start;
}
body{
    background:red;
}
::deep .answer{
    color : white !important;
}

::deep .right-answer{
    background : green !important;
}

::deep .wrong-answer{
    background : red !important;
}
