<div class="d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="header  text-white text-center fs-4 p-3">Result : @result / @fullMark</div>
        <div class="info">
            <p class="title">You can always get better</p>
        </div>
        <div class="footer d-flex justify-content-center align-items-center">
            <a class="btn action" href="/">More Exams</a>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int result { get; set; }

    [Parameter]
    public int fullMark { get; set; }
}
